.form{
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form h3{
    margin-top: 32px;
    font-size: 14px;
    color: #181847;
}

.form textarea{
    width: 50%;
    height: 64px;
    margin-top: 8px;
    resize: none;
    border: 1px solid #181847;
    border-radius: 8px;
    padding: 8px;
}

.form__checkbox-wrapper{
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.submit-button{
    margin-top: 16px;
    background-color: #181847;
    color: white;
    border: none;
    outline: none;
    padding: 8px 64px;
    border-radius: 8px;
    cursor: pointer;
}

.submit-button:disabled{
    background: #d5d5d5;
    cursor: not-allowed;
}

@media screen and (max-width: 540px){
    .form{
      align-items: center;
    }
}

@media screen and (max-width: 411px){
    textarea{
        width: 100%;
    }
}

