.intro{
    background: #fff;
    padding: 32px 0;
}

.intro__title{
    font-size: 36px;
    color: #181847;
    font-weight: 600;
}

.intro__description{
    font-size: 14px;
    color: #9191b1;
    font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 411px){
    .intro__title{
        font-size: 24px;
        margin-bottom: 16px;
    }
}