.loading {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 5px solid #cccccc;
  border-top: 5px solid #2f3575;
  animation: rotateLoading infinite 1s ease-in-out;
  margin: 32px auto;
}

@keyframes rotateLoading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
